@charset "UTF-8";
.todayM b{
	font-size:30px;
	color:#8c77b6;
	margin:8px 0 8px; 0;
}
.todayM{
	text-align:center;
	margin:10px 10px 60px 15px;
}
.listC{
	
	text-align:center;
	display:inline-block;
	margin:10px 10px 50px 15px;
}
#priceDiv{
	padding:30px 0;
	text-align:center;
}
 #typeDiv{
	padding:30px 0;
	text-align:center;
}
 #brandDiv{
	padding:30px 0;
	text-align:center;
}
#map {
        height: 100%;
      }
span{
	font-size:18px;
	font-family:Arial;
	font-weight:bold;

}
/* 메뉴들 정렬*/
#t2 div{
	text-align:center;
	display:inline-block;
	margin:10px 10px 50px 15px;
}

#t3 div{
	text-align:center;
	display:inline-block;
	margin:10px 10px 50px 15px;
}

#t4 div{
	text-align:center;
	display:inline-block;
	margin:10px 10px 50px 15px;
}
#all div{
	text-align:center;
	display:inline-block;
	margin:10px 8px 50px 13px;
}
/*메뉴들의 구매 버튼*/
#buyBtn {
    color: #000000;
    border: #000000 solid 1px;
    padding:5px 25px;
    background-color: #ffffff;
}

#buyBtn:hover {
    color: #ffffff;
    background-color: #000000;
}

#Btn{
	color: #000000;
    border: #f6f1e1 solid 1px;
    padding:5px 25px;
    background-color: #f48787;
}
#Btn:hover {
    color: #ffffff;
    background-color: #FBA3A3;
}

.layerContent {padding: 50px;}
.ctgr { padding: 10px;  margin:10px;}
.iBox {
  margin: 10px;
  padding: 2px 2px 20px 2px;
  border-radius: 6px;
	cursor:pointer;
}
.itemC {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.lAr { text-align: left; } 
.rAr { text-align: right; }
